# Section 1

### Extract Data from SQL

In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.25-cp38-cp38-manylinux1_x86_64.whl (25.4 MB)
     |████████████████████████████████| 25.4 MB 16.2 MB/s eta 0:00:01     |████████████████████████████▋   | 22.8 MB 16.2 MB/s eta 0:00:01     |██████████████████████████████▍ | 24.2 MB 16.2 MB/s eta 0:00:01
Requirement already satisfied: protobuf>=3.0.0 in /opt/conda/lib/python3.8/site-packages (from mysql-connector-python) (3.15.8)
Requirement already satisfied: six>=1.9 in /opt/conda/lib/python3.8/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.25
Note: you may need to restart the kernel to use updated packages.

In [16]:
import mysql.connector as sql

In [17]:
try:
    db_connection = sql.connect(host='cpanel.insaid.co', database='Capstone1', user='student', password='student')
    db_cursor = db_connection.cursor()
except (Exception, sql.Error) as error :
  print("Error while connecting to MySQL", error)

In [18]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from IPython.display import display

pd.set_option('display.float_format', '{:.2f}'.format)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [19]:
#gender_age_train - Devices and their respective user gender, age and age_group

db_cursor.execute('SELECT * FROM gender_age_train')

table_rows = db_cursor.fetchall()

df = pd.DataFrame(table_rows,columns=['device_id','user_gender', 'age', 'age_group'])

In [20]:
df.head()

             device_id user_gender  age age_group
0 -8076087639492063270           M   35    M32-38
1 -2897161552818060146           M   35    M32-38
2 -8260683887967679142           M   35    M32-38
3 -4938849341048082022           M   30    M29-31
4   245133531816851882           M   30    M29-31

In [21]:
#df.columns = ['Devices','user_gender', 'age', 'age_group']

In [22]:
df.head()

             device_id user_gender  age age_group
0 -8076087639492063270           M   35    M32-38
1 -2897161552818060146           M   35    M32-38
2 -8260683887967679142           M   35    M32-38
3 -4938849341048082022           M   30    M29-31
4   245133531816851882           M   30    M29-31

In [23]:
df.to_csv('gender_age_train.csv', index = False)

In [24]:
#phone_brand_device_model - device ids, brand, and models phone_brand: note that few brands are in Chinese
db_cursor.execute('SELECT * FROM phone_brand_device_model')

table_rows = db_cursor.fetchall()

df = pd.DataFrame(table_rows,columns=['device_id', 'brand', 'phone_brand'])

In [25]:
df.head()

             device_id brand phone_brand
0  1877775838486905855  vivo         Y13
1 -3766087376657242966    小米        V183
2 -6238937574958215831  OPPO         R7s
3  8973197758510677470    三星       A368t
4 -2015528097870762664    小米     红米Note2

In [26]:
#df.columns = ['device_ids', 'brand', 'phone_brand']

In [27]:
df.to_csv('phone_brand_device_model.csv', index = False)

In [28]:
#closing database connection.
if(db_connection):
    db_cursor.close()
    db_connection.close()
    print("MySQL connection is closed")

MySQL connection is closed

### Translate Brands

In [ ]:
!pip install googletrans==3.1.0a0

# INSAID Telecom Network

events_data - when a user uses mobile on INSAID Telecom network, the event gets logged in this data.
Each event has an event id, location (lat/long), and the event corresponds to frequency of mobile usage.
timestamp: when the user is using the mobile.

Q. How many times the device is being used
Q. Which state clocks the most usage
Q. Which city clocks the most
Q. Demographics of users in the state

# Events Dataset

In [ ]:
events_df = pd.read_csv("events_data.csv")

In [ ]:
events_df.head()

In [ ]:
events_df.info()

In [ ]:
events_df.describe(include='all')

In [ ]:
events_df.shape

In [ ]:
events_missing_data_df = []
events_missing_data_df = pd.DataFrame(events_df.isnull().sum())
events_missing_data_df.columns = ['missing_values']
events_missing_data_df['missing%'] = events_missing_data_df['missing_values']/events_df.shape[0]
events_missing_data_df

In [ ]:
print("Timestamp range start: ",events_df.timestamp.min())

In [ ]:
print("Timestamp range end: ",events_df.timestamp.max())

In [ ]:
state_usage_df = pd.DataFrame(events_df.value_counts(['state','city','longitude','latitude']))
state_usage_df.columns = ['state_wise_usage']
state_usage_df.reset_index(inplace=True)
state_usage_df.head()

In [ ]:
state_usage_filtered_df = pd.DataFrame(state_usage_df[state_usage_df.state.isin(['MadhyaPradesh', 'Chhattisgarh', 'Uttaranchal', 'JammuandKashmir','Goa', 'Nagaland'])])
state_usage_filtered_df.sort_values(by='state', ascending=True, inplace=True)
state_usage_filtered_df.head()

In [ ]:
!pip3 install geoplotlib

In [ ]:
!pip3 install Pyglet

In [ ]:
import geoplotlib
from geoplotlib.utils import read_csv

#data = read_csv("C:\\Users\\Omotayo\\Desktop\\nigeria_cities.csv")  #replace path with your file path
geoplotlib.dot(state_usage_filtered_df) #,point_size=3)
geoplotlib.show()

In [ ]:
events_df.groupby(['state','city'])['event_id'].size()